[Desktop Entry]
Name=Work Timer
StartupWMClass=Work Timer
Comment=Terminal Based Timer
Exec=/usr/bin/work_timer
Icon=/home/naa/terminal_work_timer/icon.png
Type=Application
Categories=Utility;
Path=/usr/bin
Path=/usr/bin

