[Desktop Entry]
Name=Work Timer
StartupWMClass=Work Timer
Comment=Terminal Based Timer
Exec=/usr/bin/work_timer
Type=Application
Categories=Utility;
Path=/usr/bin
Path=/usr/bin
Icon=~/work_timer/icon.png
